apiVersion: 1

deleteDatasources:
  - name: PostgreSQL-Replica
    orgId: 1
  - name: PostgreSQL-Primary
    orgId: 1

datasources:
  # PostgreSQL Replica - For dashboards (read-only, won't impact write performance)
  - name: PostgreSQL-Replica
    type: postgres
    access: proxy
    url: postgres-replica:5432
    user: readonly
    uid: postgresql-replica
    editable: true
    jsonData:
      database: tracking_db
      sslmode: disable
      maxOpenConns: 20
      maxIdleConns: 10
      connMaxLifetime: 14400
      # Enable TimescaleDB features
      timescaledb: true
      # PostgreSQL version
      postgresVersion: 1500
    secureJsonData:
      password: readonly_password

  # PostgreSQL Primary - For admin dashboards only (use sparingly)
  - name: PostgreSQL-Primary
    type: postgres
    access: proxy
    url: postgres-primary:5432
    user: postgres
    uid: postgresql-primary
    editable: true
    jsonData:
      database: tracking_db
      sslmode: disable
      maxOpenConns: 5
      maxIdleConns: 2
      connMaxLifetime: 14400
      timescaledb: true
      postgresVersion: 1500
    secureJsonData:
      password: postgres
